<p id="notice"><%= notice %></p>

<p>
  <strong>Nickname:</strong>
  <%= @chef.nickname %>
</p>

<p>
  <strong>Name:</strong>
  <%= @chef.name %>
</p>

<p>
  <strong>Class:</strong>
  <%= @chef.class %>
</p>

<p>
  <strong>Email:</strong>
  <%= @chef.email %>
</p>

<%= link_to 'Edit', edit_chef_path(@chef) %> |
<%= link_to 'Back', chefs_path %>
